{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<div class="container">
<h1>{{ 'category.titre' |trans}} </h1>
<p>{{'category.nb'|trans({'%nb%' : categorys|length}) }}</p>
{% if categorys is not empty %}
    <table class="table">
        <thead>
            <tr>
                <td>{{'Nom'|trans}} </td>
                <td>Description</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
        {% for cat in categorys %}
            <tr>
                <td>{{cat.nom}}</td>
                <td>{{cat.descriptions}} </td>
                <td>
                <a href="{{path('category', {"id": cat.id})}}">Afficher
                </a>
                <a href="{{path('delete_category', {'id' :cat.id})}}">
                Supprimer
                </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    

{% else %}
    <p>Il n'y a aucune category</p>
{% endif %}

{{ form(ajout)}}
</div>
{% endblock %}
