{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<div class="container">
<h1>Liste des produits</h1>
{% if product is not empty %}
    <table class="table">
        <thead>
            <tr>
                <td>Nom </td>
                <td>Description</td>
                <td>prix</td>
                <td>quantite</td>
                <td>category</td>
            </tr>
        </thead>
        <tbody>
        {% for pro in product %}
            <tr>
                <td>{{pro.nom}}</td>
                <td>{{pro.descriptions}} </td>
                <td>
                <a href="{{path('product', {"id": pro.id})}}">Afficher
                </a>
                <a href="{{path('delete_product', {'id' :pro.id})}}">
                Supprimer
                </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    

{% else %}
    <p>Il n'y a aucun produit</p>
{% endif %}

{{ form(ajout)}}
</div>
{% endblock %}
